@media only screen and (min-width: 1224px) {
    .tickerText {
        font-size: .5em;
    }
    .menu {
        font-size: 2em !important;
    }
    .menu br {
        display: none;
    }
    .liLong {
        height: 7vh !important;
    }
    .menuLogo {
        width: 18vw;
        height: 18vw;
    }
    .page {
        width: 90vw;
    }
    .page > * {
        width: 50%;
    }
    .pageHome img {
        width: 60% !important;
        margin: 0 20% 0 20%;
    }
    .pageHome span {
        left: 20%;
    }
}
